.theme-light {
	--bg-image: url("../img/bg3.jpg");
	--text-color: white;
	--text-color1: white;
	--btn-color: orange;
	--btnh-color: yellow;
	--hr-color: linear-gradient(to right, transparent,orange,yellow,orange,transparent );
	--grayscale: 0%;
	--border: 2px solid orange;
	--emoji: url("../img/sun3.png");
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1rem;
    width: 35vh;
    font-family: nunito;
    cursor: pointer;
    background-color: var(--btn-color);
    box-shadow: -5px 5px 10px var(--btnh-color);
}

button.btn:hover {
    background-color: var(--btnh-color);
    width: 36vh;
    color: black;
    box-shadow: -5px 5px 10px var(--btn-color);
}
