.theme-light {
	--bg-image: url("../img/bg1.jpg");
	--text-color: white;
	--text-color1: white;
	--btn-color: green;
	--btnh-color: lightgreen;
	--hr-color: linear-gradient(to right,  green,yellow,green );
	--emoji: url("../img/sun1.png");
}

button.btn{
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1rem;
	width: 110px;
    font-family: nunito;
    cursor: pointer;
	background-color:var(--btn-color);
	box-shadow: 0 5px 10px var(--btnh-color);
}
button.btn:hover{
	background-color:var(--btnh-color);
	width:118px;
	color:black;
	border:5px;
	box-shadow: 0 5px 10px var(--btnh-color);
}
input[type=search] {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid var(--btn-color);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/searchicon.jpg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
input[type=search]:focus {
  width: 50%;
}

input[type=submit]{
	background-color:var(--btn-color);
	border-radius: 2rem;
	border: none;
	padding: 1rem;
	color:white;
	height: 50px;
	width: 100px;
	cursor: pointer;
	transition:1s;
	box-shadow: 0 0 10px var(--btnh-color);
}
input[type=submit]:hover{
	background-color:var(--btnh-color);
	width:110px;
	color:black;
	border:5px;
	box-shadow: 0 0 10px var(--btn-color);
}
img.yaka{
	border: none;
    border-radius: 100%;
	filter: grayscale(75%) drop-shadow(0px 0px 10px var(--btnh-color));
}